{% extends 'base.html' %}
{% load static %}


{% block content %}


<!--css -->
<style>
        .custom-logo {
    max-width: 300px; /* Максимальная ширина */
    max-height: 200px; /* Максимальная высота */
    min-width: 150px; /* Минимальная ширина */
    min-height: 100px; /* Минимальная высота */
    object-fit: cover; /* Изображение масштабируется и обрезается, чтобы сохранить пропорции */
    width: 100%; /* Подстраивается под ширину контейнера */
    height: auto; /* Поддерживает пропорции при изменении размеров */

}
    .alert-custom {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1050;
        width: 350px;
        padding: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
        color: white;
        border-radius: 12px;
        display: flex;
        align-items: center;
        animation: slideIn 0.4s ease-out;
    }

    .alert-danger {
        background-color: #ff4d4f; /* Красный для ошибок */
    }

    .alert-success {
        background-color: #4caf50; /* Зелёный для успешных сообщений */
    }

    @keyframes slideIn {
        from {
            transform: translateX(100%);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .alert-icon {
        flex-shrink: 0;
    }

    .alert-content {
        flex-grow: 1;
        font-size: 16px;
    }

    .btn-close-custom {
        background: none;
        border: none;
        color: white;
        font-size: 26px;
        line-height: 1;
        padding: 0 0 0 10px;
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    .btn-close-custom:hover {
        opacity: 1;
    }

    .btn-close-custom:focus {
        outline: none;
        box-shadow: none;
    }

    .btn-close-custom::before {
        content: "×";
        color: white;
    }

</style>


    <body>

        <main>
            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">

                <div class="section-overlay"></div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#3D405B" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                            <h2 class="text-white">Добро пожаловать</h2>

                            <h1 class="cd-headline rotate-1 text-white mb-4 pb-2">
                                <span>Event Hub это</span>
                                <span class="cd-words-wrapper">
                                    <b class="is-visible"> Удобно</b>
                                    <b> Современно</b>
                                    <b> Дёшево</b>
                                </span>
                            </h1>

                            <div class="custom-btn-group">
                                <a href="#section_2" class="btn custom-btn smoothscroll me-3">О нас</a>

                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/MGNgbNGOzh8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div>
                </div>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,224L34.3,192C68.6,160,137,96,206,90.7C274.3,85,343,139,411,144C480,149,549,107,617,122.7C685.7,139,754,213,823,240C891.4,267,960,245,1029,224C1097.1,203,1166,181,1234,160C1302.9,139,1371,117,1406,106.7L1440,96L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
            </section>


            <section class="about-section section-padding" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12 text-center">
                            <h2 class="mb-lg-5 mb-4">О нас</h2>
                        </div>

                        <div class="col-lg-5 col-12 me-auto mb-4 mb-lg-0">


                            <h3 class="mb-3">Event Hub</h3> — это платформа для покупки билетов на самые разнообразные мероприятия. С момента нашего запуска мы стремимся сделать процесс покупки билетов максимально удобным и доступным для всех. Наша цель — объединить людей с их любимыми событиями, будь то концерты, театральные постановки, спортивные игры или бизнес-конференции.</p>

                            <p>Мы гордимся тем, что предлагаем своим пользователям широкий выбор билетов на любые мероприятия и поддержку на каждом этапе покупки. Присоединяйтесь к нам и не пропустите ни одного важного события!</p>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-0">
                            <div class="member-block">
                                <div class="member-block-image-wrap">
                                    <img src="{% static 'images/members/portrait-young-handsome-businessman-wearing-suit-standing-with-crossed-arms-with-isolated-studio-white-background.jpg' %}" class="member-block-image img-fluid" alt="">

                                    <ul class="social-icon">
                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-twitter"></a>
                                        </li>

                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-whatsapp"></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="member-block-info d-flex align-items-center">
                                    <h4>Michael</h4>

                                    <p class="ms-auto">Founder</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="member-block">
                                <div class="member-block-image-wrap">
                                    <img src="{% static 'images/members/successful-asian-lady-boss-red-blazer-holding-clipboard-with-documens-pen-working-looking-happy-white-background.jpg' %}" class="member-block-image img-fluid" alt="">

                                    <ul class="social-icon">
                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-linkedin"></a>
                                        </li>
                                        <li class="social-icon-item">
                                            <a href="#" class="social-icon-link bi-twitter"></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="member-block-info d-flex align-items-center">
                                    <h4>Sandy</h4>

                                    <p class="ms-auto">Co-Founder</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>


            <section class="section-bg-image">
                <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>

                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <div class="section-bg-image-block">
                                <h2 class="mb-lg-3">Подпишитесь на рассылку новых мероприятий</h2>

                                <p>Вы сможете получать новейшую информацию о самых интересных мероприятиях в России</p>

                                <form action="#" method="get" class="custom-form mt-lg-4 mt-2" role="form">
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-text bi-envelope" id="basic-addon1"></span>

                                        <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Введите ваш email" required="">

                                        <button type="submit" class="form-control">Подписаться</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <svg viewBox="0 0 1265 144" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 40 C 164 40 164 20 328 20 L 328 20 L 328 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 327 20 C 445.5 20 445.5 89 564 89 L 564 89 L 564 0 L 327 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 563 89 C 724.5 89 724.5 48 886 48 L 886 48 L 886 0 L 563 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 885 48 C 1006.5 48 1006.5 67 1128 67 L 1128 67 L 1128 0 L 885 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1127 67 C 1196 67 1196 0 1265 0 L 1265 0 L 1265 0 L 1127 0 Z" stroke-width="0"></path></svg>
            </section>



            <section class="events-section section-bg section-padding" id="section_4">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12 col-12">
                            <h2 class="mb-lg-3">Популярные мероприятия</h2>
                        </div>

                        <!--Ивенты-->
                        {% for event in events %}
                        <div class="row custom-block custom-block-bg mb-4">
                            <div class="col-lg-2 col-md-4 col-12 order-2 order-md-0 order-lg-0">
                                <div class="custom-block-date-wrap d-flex d-lg-block d-md-block align-items-center mt-3 mt-lg-0 mt-md-0">
                                    <h6 class="custom-block-date mb-lg-1 mb-0 me-3 me-lg-0 me-md-0">{{ event.event_date|date:"j" }}</h6>
                                    <strong class="text-white">{{ event.event_date|date:"M Y" }}</strong>
                                </div>
                            </div>



<!--логотип мероприятия-->
                            <div class="col-lg-4 col-md-8 col-12 order-1 order-lg-0">
                                <div class="custom-block-image-wrap">
                                    <a href="{% url 'event_detail' event.slug %}">
                                        <img src="{{ event.logo.url }}"
                                             class="custom-block-image img-fluid custom-logo"
                                             alt="">
                                        <i class="custom-block-icon bi-link"></i>
                                    </a>
                                </div>
                            </div>



                            <div class="col-lg-6 col-12 order-3 order-lg-0">
                                <div class="custom-block-info mt-2 mt-lg-0">
                                    <a href="{% url 'event_detail' event.slug %}" class="events-title mb-3">{{event.title}}</a>
                                    <p class="mb-0">{{event.description|truncatechars:190 }}</p>

                                    <div class="d-flex flex-wrap border-top mt-4 pt-3">
                                        <div class="mb-4 mb-lg-0">
                                            <div class="d-flex flex-wrap align-items-center mb-1">
                                                <span class="custom-block-span">Место проведения:</span>
                                                <p class="mb-0">{{ event.location|truncatechars:40 }}</p>
                                            </div>

                                            <div class="d-flex flex-wrap align-items-center">
                                                <span class="custom-block-span" style="margin-right: 5px;">Цена:</span>
                                                <p class="mb-0" style="margin-left: 0;">{{ event.price|floatformat:0 }} руб.</p>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center ms-lg-auto">
                                            <a href="{% url 'event_detail' event.slug %}" class="btn custom-btn">Купить билет</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="d-flex justify-content-center align-items-center ms-lg-auto">
                            <a href="{% url 'event_list' %}" class="btn custom-btn" style="font-size: 1.2rem;">Посмотреть все мероприятия</a>
                        </div>


                        </div>
                    </div>
                </section>


            <section class="contact-section section-padding" id="section_5">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-5 col-12">
                            <form action="#" method="post" class="custom-form contact-form" role="form">
                                <h2 class="mb-4 pb-2">Связь с нами</h2>

                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-12">
                                        <div class="form-floating">
                                            <input type="text" name="full-name" id="full-name" class="form-control" placeholder="Full Name" required="">
                                            
                                            <label for="floatingInput">Полное имя</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-12"> 
                                        <div class="form-floating">
                                            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required="">
                                            
                                            <label for="floatingInput">Email</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" id="message" name="message" placeholder="Describe message here"></textarea>
                                            
                                            <label for="floatingTextarea">Текст</label>
                                        </div>

                                        <button type="submit" class="form-control">Submit Form</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="contact-info mt-5">
                                <div class="contact-info-item">
                                    <div class="contact-info-body">
                                        <strong>Moscow, Russian Federation</strong>

                                        <p class="mt-2 mb-1">
                                            <a href="tel: 010-020-0340" class="contact-link">
                                                (020) 
                                                010-020-0340
                                            </a>
                                        </p>

                                        <p class="mb-0">
                                            <a href="mailto:info@company.com" class="contact-link">
                                                info@company.com
                                            </a>
                                        </p>
                                    </div>

                                    <div class="contact-info-footer">
                                        <a href="#">Directions</a>
                                    </div>
                                </div>

                                <img src="{% static 'images/WorldMap.svg' %}" class="img-fluid" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </main>




        <!-- JAVASCRIPT FILES -->

        <script>
    setTimeout(function() {
        let alertElement = document.querySelector('.alert-custom');
        if (alertElement) {
            alertElement.classList.remove('show');
            alertElement.classList.add('fade');
            setTimeout(function() {
                alertElement.remove();
            }, 500);  // Время на анимацию исчезновения
        }
    }, 3000);  // 4 секунды
</script>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/click-scroll.js' %}"></script>
        <script src="{% static 'js/animated-headline.js' %}"></script>
        <script src="{% static 'js/modernizr.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>

    </body>

{% endblock %}